
/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


html {
    height:100%;
}
body {
    height:100%;
    margin:0;
    background-color: #eee;

    font-family: OsloRegular,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}

nav {
    position:absolute;
    top:25%;
    left:50%;
    width:229px;
    margin-left:-115px;
    margin-top:80px;
}
nav ul {
    display:block;
    padding-left: 0;
    margin: 0 0 0 -5px;
    list-style: none;    
}
nav li {
    display:inline-block;
    padding:0 5px;
}
nav li a {
    display:block;
    width:32px;
    height:32px;
    background-repeat: no-repeat;
    margin:0 16px;
}

nav li a.hdr-email {
    background-image: url(../img/icon_email_32.png);
}
/*
Icon made by Situ Herrera
http://www.rivolta.es
http://creativecommons.org/licenses/by/3.0
*/
nav li a.hdr-linkedin {
    background-image: url(../img/icon_linkedin_32.png);
}
nav li a.hdr-git {
    background-image: url(../img/icon_github_32.png);    
}

header {
    position: absolute;
    top:25%;
    width:100%;
    text-align:center;
}

header h1 {
    margin:0;
    font-family:inherit;
    font-size: 24px;
    font-weight:500;
    line-height:36px;
}
header h3 {
    margin:0;
    font-family:inherit;
    font-size: 16px;
    font-weight:500;
    line-height:24px;
}

/* transitions enabled class */
.csstransitions header, .csstransitions nav {
    opacity:0;
    -webkit-transition:opacity 6s ease 2s;
    transition:opacity 6s ease 2s;
}
.csstransitions .display-context header, .csstransitions .display-context nav {
    opacity:1;
}

/* mysterybox */
.fullscreen-modal-mbox {
    position:absolute;
    top:0;
    left:0;
    z-index: 1000;
}

/* ==========================================================================
   Custom Fonts
   ========================================================================== */
@font-face {
    font-family: 'OsloRegular';
    src: url('../font/Oslo-Regular-webfont.eot');
    src: url('../font/Oslo-Regular-webfont.eot?iefix') format('eot'),
         url('../font/Oslo-Regular-webfont.woff') format('woff'),
         url('../font/Oslo-Regular-webfont.ttf') format('truetype'),
         url('../font/Oslo-Regular-webfont.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;

}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}
